<h1>Raporty</h1>

<button class="btn btn-primary" (click)="form()">Stwórz nowy raport</button>

<table class="table table-hover mt-4">
  <tr *ngFor="let report of reports">
    <td class="align-middle" (click)="details(report)">
      {{report.name}}
    </td>
    <td style="width: 350px;">
      <button class="btn btn-danger pull-right" (click)="remove(report.id)" style="width: 130px;">Usuń</button>
      <button class="btn btn-success pull-right" (click)="form(report)" style="width: 130px;">Edytuj</button>
    </td>
  </tr>
</table>
