/* You can add global styles to this file, and also import other style files */

body {
  padding: 10px;
}

tr > td > div.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/*tr > td > div.container-fluid:hover {*/
  /*background-color: #696969;*/
  /*color: #f9f9f9;*/
  /*cursor: pointer;*/
/*}*/
