<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 *ngIf="!!report">Raport: {{report.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <canvas style="height: 200px;" *ngIf="chartData.length === 3" mdbChart
              chartType="doughnut"
              [data]="chartData"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
      </canvas>

      <canvas style="height: 200px;" *ngIf="chartData.length === 3" mdbChart class="mt-5"
              chartType="line"
              [datasets]="daysValues"
              [labels]="days"
              [colors]="daysColors"
              [options]="chartOptions"
              [legend]="true">
      </canvas>
    </div>
    <div class="col-sm-5 offset-sm-1">
      <div *ngFor="let comment of comments">
        <div class="card border-{{comment.value | btColor}} mb-3">
          <div class="card-body text-{{comment.value | btColor}}">
            <h5 class="card-title">{{comment.message}}</h5>
            <p class="card-text float-left mb-0">
              Dodany: {{ comment.createdTime | toDate }}
            </p>
            <p class="card-text float-right mb-0">
              <a href="{{comment.permalinkUrl}}" style="color: #999;">Zobacz oryginał</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
